{% extends 'base.html' %}

{{ perms.project }}
{% block menu %}
    {% if perms.webapp.add_project %}
        <li><a href="{% url "project-add" %}">Создать проект</a></li>
    {% endif %}
{% endblock menu %}

{% block content %}
    <h1>Список проектов</h1>
    {% if not projects %}
        <h2>Нет проектов</h2>
    {% else %}
    {% endif %}
    {% for project in projects %}
            <p> <a href="{% url "project-view" project.id%}">{{ project.author.all }}</a></p>
        {% endfor %}
    {% include 'partial/paginate.html' %}
{% endblock content %}
