
{% extends "base.html" %}
{% block  nav%}
<li class="nav-item">
<a class="nav-link" href="{% url 'tracker-add' %}">Добавить задачу</a><br>
</li>
{% endblock %}
{%  block content %}



    <h1>Проект № {{ project.id }}</h1>
    <p>Название: {{ project.title }}</p>
    <p>Описание: {{ project.description }}</p>
    <p>дата начало проекта: {{ project.date }}</p>
    <p>дата конец проекта: {{ project.date_end }}</p>
    {% for tracker in project.project_trackers.all %}
        <a href="{% url 'tracker-view' tracker.pk %}">{{tracker.title}}</a>
    {% empty %}
        <h2>Нет задач</h2>
    {% endfor %}

{% endblock content %}