
{% extends "base.html" %}
{{ perms.project }}
{% block  nav%}
    {% if perms.webapp.change_tracker %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'tracker-update' tracker.id %}">Изменить</a>
        </li>
    {% endif %}
    {% if perms.webapp.delete_tracker %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'tracker-delete' tracker.id %}">удалить</a>
        </li>
    {% endif %}
{% endblock %}
{%  block content %}



    <h1>Товар № {{ tracker.id }}</h1>
    <p>Название: {{ tracker.title }}</p>
    <p>Описание: {{ tracker.description }}</p>
    <p>Тип: {% for type in tracker.type.all %}{{ type.name}} {% endfor %}</p>
    <p>Статус: {{ tracker.status }} </p>
    <p>время: {{ tracker.created_ad }}</p>
{% endblock content %}